<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Futbols Fantasy</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
      <div class="futbol">
        <div></div>
      </div>
      <div class="topflight">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#higlights">
          <select href="#higlights">
            <option id="dropdown" value="0">Highlights/Stats:</option>
            <option id="dropdown" value="1">Premier League</option>
            <option id="dropdown" value="2">La Liga</option>
            <option id="dropdown" value="3">Serie A</option>
            <option id="dropdown" value="4">Ligue 1</option>
            <option id="dropdown" value="5">Bundesliga</option>
          </select>
        </a>
        <a href="#contact">Contact</a>
         <!-- Conditionally render login or logout links -->
    
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
    
        <input type="text" placeholder="Search.." />
      </div>
      
    </header>
    <div class="intro">
      <h1>Welcome to Fantasy futbol!</h1>
      <h2>
        A great place to find all the info you need for your favorite futbol
        club
      </h2>
    </div>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
 
    <div id="video" style="height: 50px; width: 80%"></div>

    
  </div>

  <!-- Render script for logged in users only -->
 
  <script src="/js/logout.js"></script>
  <script src="/randomstuff/scoreBatAPI.js"></script>
</body>
</html>